In [45]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split

In [44]:
stardf = pd.read_csv("..//TG_stars.csv")
stardf.head (7)

    Vmag    Plx  e_Plx    B-V       Amag  TargetClass
0   9.10   3.54   1.39  0.482  16.845016            3
1   9.27  21.90   3.10  0.999  20.972221            5
2   6.61   2.81   0.63 -0.019  13.853532            1
3   8.06   7.75   0.97  0.370  17.506509            3
4   8.55   2.87   1.11  0.902  15.839409            4
5  12.31  18.80   4.99  1.336  23.680789            6
6   9.64  17.74   1.30  0.740  20.884768            4

,Vmag,Plx,e_Plx,B-V,Amag,TargetClass,Amag_SQ,Vmag_SQ,B-V_SQ,Plx_SQ
0,9.10,3.54,1.39,0.482,16.845016,3,283.754574,82.8100,0.232324,12.5316
1,9.27,21.90,3.10,0.999,20.972221,5,439.834036,85.9329,0.998001,479.6100
2,6.61,2.81,0.63,-0.019,13.853532,1,191.920338,43.6921,0.000361,7.8961
3,8.06,7.75,0.97,0.370,17.506509,3,306.477840,64.9636,0.136900,60.0625
4,8.55,2.87,1.11,0.902,15.839409,4,250.886893,73.1025,0.813604,8.2369

In [35]:
#keep test size as 0.2 but upsample?

In [36]:
from sklearn.utils import resample

In [37]:
X = stars_df_features.drop('TargetClass', axis=1, inplace=False)
Y = stars_df_features['TargetClass']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.20, random_state=21, stratify=Y)

In [38]:
Y_test.value_counts()

5    547
3    491
4    436
2    257
1    112
6     87
7      4
0      2
Name: TargetClass, dtype: int64

In [41]:
X_test

,Vmag,Plx,e_Plx,B-V,Amag,Amag_SQ,Vmag_SQ,B-V_SQ,Plx_SQ
2858,8.95,4.78,1.15,0.392,17.347139,300.923248,80.1025,0.153664,22.8484
9441,10.77,7.67,2.20,0.240,20.193977,407.796700,115.9929,0.057600,58.8289
5607,7.36,5.68,0.83,0.002,16.131742,260.233090,54.1696,0.000004,32.2624
8879,8.62,3.35,1.19,0.124,16.245224,263.907304,74.3044,0.015376,11.2225
2799,8.20,2.49,1.07,0.880,15.180997,230.462662,67.2400,0.774400,6.2001
...,...,...,...,...,...,...,...,...,...
7918,8.27,3.47,0.97,1.110,15.971647,255.093520,68.3929,1.232100,12.0409
6382,6.26,5.32,0.74,1.122,14.889558,221.698942,39.1876,1.258884,28.3024
3360,7.72,2.90,0.87,0.028,15.031990,225.960723,59.5984,0.000784,8.4100
35,10.44,3.74,2.72,0.391,18.304358,335.049522,108.9936,0.152881,13.9876
5185,5.77,5.75,0.65,-0.019,14.568339,212.236508,33.2929,0.000361,33.0625

In [27]:
rfc = RandomForestClassifier()

In [28]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

clf =RandomForestClassifier(n_estimators=200, max_features="log2", max_depth=10).fit(X_train_scaled, Y_train)

y_pred=clf.predict(X_test_scaled)

print(f'RFC Training Data : {clf.score(X_train_scaled,Y_train)}')
print(f'RFC Testing Data: {clf.score(X_test_scaled,Y_test1)}')

RFC Training Data : 0.8772768376178788
RFC Testing Data: 0.2184

In [42]:
# No this is the wrong way to try to do this. Starting a new book with this for inspriration and trying with the larger dataset