In [1]:
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
import numpy as np
import pandas as pd

In [2]:
stardf = pd.read_csv("Star9999_raw.csv")
stardf.head()

   Unnamed: 0  Vmag      Plx   e_Plx     B-V SpType
0           0  9.10     3.54    1.39   0.482     F5
1           1  9.27    21.90    3.10   0.999    K3V
2           2  6.61     2.81    0.63  -0.019     B9
3           3  8.06     7.75    0.97   0.370    F0V
4           4  8.55     2.87    1.11   0.902  G8III

In [3]:
stardf.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9999 non-null   int64
 1   Vmag        9999 non-null   float64
 2   Plx         9999 non-null   object
 3   e_Plx       9999 non-null   object
 4   B-V         9999 non-null   object
 5   SpType      9722 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 468.8+ KB

Vmag - Visual Apparent Magnitude of the Star

Plx - Distance Between the Star and the Earth

e_Plx - Standard Error of Plx (Drop the Row if you find the e_Plx is too high!)

B-V - B-V color index. (A hot star has a B-V color index close to 0 or negative, while a cool star has a B-V color index close to 2.0. Other stars are somewhere in between.)

SpType - Stellar classification. (Roman Numerals >IV are giants. Otherwise are dwarfs)