In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Load the dataset

* `Vmag` - Visual Apparent Magnitude of the Star
* `Plx` - Distance Between the Star and the Earth
* `e_Plx` - Standard Error of Plx (Drop the Row if you find the e_Plx is too high!)
* `B-V` - B-V color index. (A hot star has a B-V color index close to 0 or negative, while a cool star has a B-V color index close to 2.0. Other stars are somewhere in between.)
* `SpType` - Stellar classification. (Roman Numerals >IV are giants. Otherwise are dwarfs)

In [2]:
# Use pd.read_csv to read file
path = "./Resources/Star9999_raw.csv"
star_raw_data = pd.read_csv(path)

star_raw_data

      Unnamed: 0  Vmag      Plx   e_Plx     B-V      SpType
0              0  9.10     3.54    1.39   0.482          F5
1              1  9.27    21.90    3.10   0.999         K3V
2              2  6.61     2.81    0.63  -0.019          B9
3              3  8.06     7.75    0.97   0.370         F0V
4              4  8.55     2.87    1.11   0.902       G8III
...          ...   ...      ...     ...     ...         ...
9994        9994  8.45    -0.93    1.13   1.404          K5
9995        9995  7.84     4.26    1.00   1.140  K1IIICN...
9996        9996  9.38     3.61    1.36   0.507          G0
9997        9997  7.64     4.75    0.97   0.075          A2
9998        9998  9.00    10.61    1.45   0.566         G1V

[9999 rows x 6 columns]

# Pre-Processing the data

In [3]:
# Check the DataType of our dataset
star_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9999 non-null   int64
 1   Vmag        9999 non-null   float64
 2   Plx         9999 non-null   object
 3   e_Plx       9999 non-null   object
 4   B-V         9999 non-null   object
 5   SpType      9722 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 468.8+ KB

In [4]:
# Convert Columns data type to float values
star_raw_data["Vmag"] = pd.to_numeric(star_raw_data["Vmag"], downcast="float", errors='coerce')
star_raw_data["Plx"] = pd.to_numeric(star_raw_data["Plx"], downcast="float", errors='coerce')
star_raw_data["e_Plx"] = pd.to_numeric(star_raw_data["e_Plx"], downcast="float", errors='coerce')
star_raw_data["B-V"] = pd.to_numeric(star_raw_data["B-V"], downcast="float", errors='coerce')
star_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9999 non-null   int64
 1   Vmag        9999 non-null   float32
 2   Plx         9984 non-null   float32
 3   e_Plx       9984 non-null   float32
 4   B-V         9907 non-null   float32
 5   SpType      9722 non-null   object
dtypes: float32(4), int64(1), object(1)
memory usage: 312.6+ KB

In [5]:
# Check the DataType of our dataset
star_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9999 non-null   int64
 1   Vmag        9999 non-null   float32
 2   Plx         9984 non-null   float32
 3   e_Plx       9984 non-null   float32
 4   B-V         9907 non-null   float32
 5   SpType      9722 non-null   object
dtypes: float32(4), int64(1), object(1)
memory usage: 312.6+ KB

In [6]:
star_raw_data

      Unnamed: 0  Vmag    Plx  e_Plx    B-V      SpType
0              0  9.10   3.54   1.39  0.482          F5
1              1  9.27  21.90   3.10  0.999         K3V
2              2  6.61   2.81   0.63 -0.019          B9
3              3  8.06   7.75   0.97  0.370         F0V
4              4  8.55   2.87   1.11  0.902       G8III
...          ...   ...    ...    ...    ...         ...
9994        9994  8.45  -0.93   1.13  1.404          K5
9995        9995  7.84   4.26   1.00  1.140  K1IIICN...
9996        9996  9.38   3.61   1.36  0.507          G0
9997        9997  7.64   4.75   0.97  0.075          A2
9998        9998  9.00  10.61   1.45  0.566         G1V

[9999 rows x 6 columns]

In [7]:
star_raw_data.describe(include='all')

         Unnamed: 0         Vmag          Plx        e_Plx          B-V SpType
count   9999.000000  9999.000000  9984.000000  9984.000000  9907.000000   9722
unique          NaN          NaN          NaN          NaN          NaN    885
top             NaN          NaN          NaN          NaN          NaN     K0
freq            NaN          NaN          NaN          NaN          NaN    730
mean    4999.000000     8.479595     7.662233     1.372422     0.745759    NaN
std     2886.607005     1.306919    11.122961     1.438556     0.454104    NaN
min        0.000000     0.450000   -18.170000     0.470000    -0.359000    NaN
25%     2499.500000     7.740000     2.727500     0.920000     0.422500    NaN
50%     4999.000000     8.560000     4.960000     1.120000     0.650000    NaN
75%     7498.500000     9.250000     8.930000     1.390000     1.084000    NaN
max     9998.000000    13.270000   280.269989    36.669998     2.835000    NaN

In [8]:
# check the number of missing data
star_raw_data.isnull().sum()

Unnamed: 0      0
Vmag            0
Plx            15
e_Plx          15
B-V            92
SpType        277
dtype: int64

In [9]:
# remove all the missing data
star_raw_data = star_raw_data.dropna() 
# check the number of missing data
star_raw_data.isnull().sum()

Unnamed: 0    0
Vmag          0
Plx           0
e_Plx         0
B-V           0
SpType        0
dtype: int64

In [10]:
#Remove unwanted column
star_raw_data = star_raw_data.drop('Unnamed: 0', axis=1)
star_raw_data.head()

   Vmag    Plx  e_Plx    B-V SpType
0  9.10   3.54   1.39  0.482     F5
1  9.27  21.90   3.10  0.999    K3V
2  6.61   2.81   0.63 -0.019     B9
3  8.06   7.75   0.97  0.370    F0V
4  8.55   2.87   1.11  0.902  G8III

In [11]:
#Check of the distribution of the target
star_raw_data["SpType"].unique()

array(['F5', 'K3V', 'B9', 'F0V', 'G8III', 'M0V:', 'G0', 'M6e-M8.5e Tc',
       'G5', 'F6V', 'A2', 'K4III', 'K0III', 'K0', 'K2', 'F3V', 'K5',
       'G8/K0III/IV', 'F2V', 'G0V', 'G3IV', 'F7V', 'G5V', 'F3/F5V', 'A0',
       'B8', 'F2', 'F7.5IV-V', 'G6V', 'B...', 'G9III-IV', 'K1III',
       'K0/K1III', 'G1IV', 'A4V', 'M:', 'G2IV/V', 'K2V', 'B5', 'F2IV',
       'B9p SiEu', 'K2III', 'G3/G5V', 'M0', 'A0V', 'G2V', 'F5IV/V', 'F8V',
       'G2', 'F5V', 'F6/F7V', 'C5p', 'M1III', 'F0', 'G7II-III', 'M2III',
       'K3II/III', 'M2', 'M1.5V:', 'G0IV', 'A2IV', 'K1IIICNIV', 'F0III',
       'Am...', 'F8', 'F5IV', 'K2III-IV', 'B9IIIp Mn', 'K0/K1IV', 'B0',
       'K3', 'B7III-IV', 'A9V', 'F3IV...', 'M3III', 'B8V', 'A3', 'B9V',
       'A3V', 'G9III', 'Ap...', 'G3V', 'R...', 'M0V', 'O7', 'G9II-III',
       'A1m...', 'B4V', 'A6V', 'M3', 'G8/K0III', 'K3III', 'G6/G8III',
       'A2V', 'G8', 'F0/F2V', 'F6/F7IV', 'G8IV', 'K0...', 'F2/F3V', 'M1',
       'K1IIICN...', 'K5III:', 'A2III', 'B3Ia', 'B2IVne+...', 'A5',
       'K1IV/VCN...', 'F8/G0V', 'G8V', 'B9IVn', 'M4', 'G5IV', 'A7V',
       'B0Ibp', 'F0III/IV', 'G8/K0IV', 'O8e', 'G2/G3V', 'A1III', 'Gp',
       'A1/A2IV/V', 'B', 'A1V', 'M5e-M7e', 'B3V', 'B8/B9V', 'K0V',
       'K3Ibvar', 'G3/G5III/IV', 'C5II', 'K1IV', 'B9III', 'A2/A3IV', 'M5',
       'B8III', 'B2', 'A0IV', 'A0IV/V', 'K4IIIb', 'G9V', 'G8II', 'G6III',
       'G9III:', 'B8MNp...', 'G8/K0V', 'A1Vn', 'K5V', 'G8III/IV', 'M2V',
       'A1Vs', 'G4V:p', 'K7', 'K3/K4III', 'B1.5IV', 'G5III', 'A9/F0V',
       'F2+...', 'G5/G6V', 'G8IV/V', 'M1/M2', 'K5III', 'K1III-IV', 'O6pe',
       'F3IV', 'M...', 'G1IV...', 'G1V', 'K1/K2III:', 'M6e', 'K1',
       'F4IVws', 'K5p...', 'F3IV/V', 'A', 'F5IV-V', 'A2IV/V', 'A6:m...',
       'B9IV', 'G3III', 'K1/K2III', 'M2III:', 'B8IIIsp...', 'G3:V: + G2:',
       'A8/A9V', 'G8III:', 'B9p', 'A3III', 'G:III/IV+..', 'G3/G5IV/V',
       'G3II', 'M0/M1IIICNp', 'F8IV', 'F2III/IV', 'A4Vm', 'G4IV...',
       'B5V', 'F2III-IV', 'G2III', 'A7IV', 'F5/F6V', 'M1Ibpev comp',
       'M3e-M8e', 'K2/K3', 'K1/K2V', 'K1V', 'K1IV/V', 'K1II', 'A3+...',
       'K8', 'F2II', 'K2III:', 'M4III:', 'B7IV', 'B1V', 'F7IV',
       'F3/F5IV+...', 'B7IIIe+K3III', 'B7V', 'F6IV/V', 'M2V:', 'F4',
       'K0III/IV', 'G6/G8V', 'G4V', 'F8...', 'K0IV', 'B5II: SB', 'K0p...',
       'F5Ib-II', 'G5IV/V', 'K0V+...', 'B9.5IV', 'F7/F8V', 'B2V',
       'A9Iab:', 'B2IV', 'M6', 'M0/M1III', 'G0III', 'B2.5V', 'F0IV',
       'A5IV', 'B3', 'F4V', 'K0/K1VCN...', 'G1/G2V', 'M3IIIvar', 'F8Iab:',
       'K2/K3III', 'B9V...', 'A7III', 'A1p', 'A7', 'K2II', 'A4:m...',
       'F7', 'F7/F8V:', 'F5.5', 'K0:III', 'F2III', 'M7/M8IIIe', 'A8V',
       'G6III/IVw', 'K2/K3III:', 'K2IIICN...', 'G8IV...', 'G8III...',
       'M0III', 'B9Vn', 'G', 'G8II-III', 'G1', 'M5III', 'A3...',
       'B6III/IV', 'F3III', 'G1Vw...', 'K0III-IV', 'B7III', 'G5IV-V',
       'F3/5 +(A)', 'K:', 'K0/K1IV/V:', 'N0v', 'A8IV', 'O9IIInn', 'K3IV',
       'K0:Ib', 'K0II', 'K3V:', 'M4II-III', 'F9V', 'G9', 'F0:III/IV',
       'K2III/IV', 'B9/B9.5IV', 'B1II...', 'G8/K0IV/V', 'M1V', 'K7Iab:',
       'A2...', 'F2IV/V', 'F5...', 'K4/K5III', 'A8III', 'B0.5III',
       'F0Iab:', 'K7V', 'K0IIICN...', 'A5IIIm...', 'M1/M2III',
       'F3/F5IV/V', 'G0IV/V', 'C8', 'K1III/IV', 'A0Vs', 'B0.5IIIn...',
       'M4/M5III', 'B2III', 'G8/K0III:', 'M2II:', 'F5III', 'M5/M6Ib/II',
       'B0.2IV', 'A9III', 'F3II', 'M1Vvar', 'G3', 'B0IV', 'F0/F2IV/V',
       'A3m...', 'B5...', 'M6-M9.0e', 'K4', 'K3/K4V', 'K5Iab:', 'A2/A3V',
       'K', 'F8IIIvar', 'S6,6ev', 'B8II', 'B5IV', 'G2/G3IV/V', 'K1III...',
       'C4.5v', 'G8IV+...', 'G5/G6III', 'K5IV/V', 'G8IV:', 'G0...',
       'G2IV', 'A0/A1V', 'F0p...', 'F0...', 'F6/F7Vw...', 'F5/F6IV/V',
       'A3II/IIIp..', 'K0IV/V', 'K0III...', 'F5IIvar', 'B1IV',
       'K0:III:+...', 'F2/F3IV/V', 'G3III:', 'K4/K5V:', 'C6II', 'M1III:',
       'F6', 'K0/K1IIIp..', 'M2/M3III', 'G4III', 'F8IV/V', 'A2Vs', 'A9IV',
       'F6Vawvar', 'A2p...', 'B0.5IV...', 'G4', 'G8III-IV', 'G6III...',
       'G1Ibvar', 'F4II', 'B9IIIn', 'B6III-IV', 'M3V:', 'A4IV/V',
       'G5IIIwe', 'B9.5V', 'Fw', 'B6V', 'B8Vn', 'B3Vne', 'A0p...',
       'F3III/IV', 'M5e', 'M2.5Ve', 'G6IV/V', 'G5/G6III/IV', 'G5+...',
       'G3/G5II', 'F6III', 'M8', 'B1Ia', 'A0Vn', 'K3/K4III:', 'G5III/IV',
       'A1IV/V', 'F2.2:', 'M9', 'B5III', 'F3IV-V', 'G8III-IV...',
       'F8V...', 'F4Iab:', 'K2Ib-II', 'B1IV:nn', 'GIII:+...', 'G3/G5IV',
       'G:...', 'F7/F8V+...', 'G2V comp SB', 'A5m...', 'K0II-III',
       'B8IIIMNp...', 'A4III', 'K3III:', 'M3II', 'G5/G6IV/V', 'G0/G1V',
       'K0III+...', 'B2.5IV', 'F2/F3III', 'G0w...', 'K1III:', 'M7',
       'B1Ib', 'K0II/IIICN', 'K1V+...', 'A2m...', 'M6III', 'K9',
       'K0/K1IV:', 'F7IV/V', 'Asp...', 'K3Ib-II', 'G5III...', 'F0IV/V',
       'K0IVCN...', 'A5V', 'K3III...', 'K7III', 'F6IV', 'K5:', 'F6V:',
       'F3V...', 'K0IIIp', 'F0Vw...', 'K3IIICN...', 'K0II-IIIvar',
       'G8II/III', 'B0Ib', 'sdG8', 'Am', 'B0.7Vn...', 'G5/G6V:', 'A7m',
       'Ap', 'F7III/IV', 'G6IV', 'M', 'B9.5III', 'G8/K0V:', 'K0/K1V:',
       'B1III', 'A0...', 'K1p...', 'K2II-III', 'M1Ve+...', 'A1Ia', 'Beq',
       'WN5', 'Kp...', 'K0IIIvar', 'B5V...', 'G3IV/V', 'G6/G8V:',
       'F5III/IV', 'M2e', 'K4II/IIICNV:', 'F8Vw...', 'F7III', 'K2III...',
       'G2V:', 'B0.5V', 'F2Iab:', 'K5II', 'K5V comp SB', 'B9.5IIIMNp.',
       'A9IV/V', 'M4III', 'G0Ib', 'A6m...', 'F', 'F3Vp...', 'F0Vn',
       'B1.5Vn...', 'G8IIICN...', 'B1II', 'G0V SB', 'K0/1III +G',
       'K1/2III: +F', 'DG', 'A3IV', 'B5V SB', 'F5III+...', 'F6Ib-G2Ib',
       'A9/F0III', 'F7IV-V', 'A0Ib', 'B5Ib', 'A0Ia:', 'B3II', 'B3Ia:',
       'A4V comp SB', 'K5Ib', 'B5Ia', 'M6.5', 'K2/K3IV', 'K2/K3V',
       'Gp...', 'K2/K3IIICNp', 'O5.5((f))', 'B6Ia', 'G2/5V + F0',
       'K1/K2III/IV', 'F2...', 'A5m', 'Rp...', 'G6/G8II/III', 'G0+...',
       'F0Ia', 'C0ev', 'G7III', 'M2.5IIIa', 'G(wp)', 'Me', 'B9IV/V',
       'B0IV:evar', 'MIII', 'F0m', 'K4V', 'K0IIIp...', 'B1.5III-IVn',
       'A8.7:', 'A:+...', 'F2II/III', 'B1.5Ib', 'A0III', 'B7IIIp', 'Fp',
       'K5/M0III', 'K5II-III', 'G8p...', 'M2e-M4', 'G5VCN...', 'B9.5Vn',
       'A4Vs', 'A4IV', 'A8/F2:+...', 'F8III/IV', 'B2.5Vn', 'sdF7::',
       'A0Ia', 'K0IIICNIV', 'A1/A2IV', 'M3.5e', 'K2IICNp...', 'K5V...',
       'K2V:', 'G:w...', 'G2Vw...', 'G5IIIm', 'F0II', 'F1V', 'B2IV-V',
       'A3III/IV', 'B1Ibp', 'G2V SB', 'K4/K5V', 'F4II-III', 'A2/A3m...',
       'K4.5', 'F5Vw...', 'WN2', 'F3/F5', 'F9', 'F4V...', 'B3III',
       'G8IIIvar', 'F4IV', 'A5Vn', 'A5III/IVm..', 'sdF6', 'K0+...',
       'A2V...', 'G0Ia', 'F5+...', 'B8Iab:e', 'K2p...', 'B5II', 'A3m',
       'A5III', 'K1/K2IV', 'G5Vp', 'F0III-IV', 'B6V + B0V', 'DA:',
       'G5w...', 'K6', 'B1Vv SB', 'G2/G3IV', 'B2.5Iab:', 'M0IIIvar',
       'G6/8wF8IV/V', 'G6II/III', 'K0/K1III:', 'A0Vnn', 'A7Vvar', 'F6IV:',
       'G6III/IV', 'K0III-IV...', 'Fm', 'G2/G3', 'K7V:', 'M5.5Ve', 'B3Ib',
       'B8Ib', 'G3V:', 'A9IV: (+F/G)', 'G1V...', 'K1II-III', 'G6/G8IV',
       'G6III:', 'G5Vw...', 'A0Ia0', 'K5III...', 'B1V SB', 'M2S SB',
       'A9.5', 'K1/K2II/III', 'C', 'K2III/IVCN.', 'sdF5', 'A9III/IV',
       'N0', 'A5p', 'B9IIIsp...', 'F8/G0IV/V', 'F5Vs', 'G5III-IVe',
       'B8.5V', 'B2IIIne+...', 'K2IIICNII', 'A7m...', 'B6Ve', 'B3 + B9:',
       'A7V...', 'B6Ib', 'M2Ib', 'A9/F0IV', 'G2w...', 'K6V:', 'A9',
       'A2Vnn', 'A4/A7:m...', 'F3/F5IV', 'K1III+...', 'A0m...', 'F0IVn',
       'G1III', 'F:', 'F7w...', 'G5IIIp', 'A1Iab', 'G6/G8III/IVe', 'F2Vs',
       'K0III:', 'K5...', 'Fm...', 'G6/G8III/IV', 'A1m', 'A0Iab',
       'F0II/III', 'M0e-M3', 'A0:Ia', 'G6Vw...', 'G5II', 'F6/F7IV/V',
       'K0II/III', 'A5Vv SB', 'F2V:var', 'F2V+...', 'F7V:', 'F2/F3IV',
       'A5IV/V', 'K3II', 'F7IVsvar', 'K2II:p', 'O9.5IV', 'G3II/III',
       'K1IIIvar', 'F8IV-V', 'G6/G8IIIw..', 'F3Ib', 'F6Ib', 'F0+...',
       'Mb', 'B1.5III', 'B5Iab', 'A4m...', 'B7IIIMNp...', 'A8/A9IV/V',
       'sdG8:', 'F0/F2IV', 'G1/G2IV/V', 'A3II/III(m)', 'A8IV/V', 'A0p',
       'K0Ib+...', 'K3Ib', 'K0/K1V', 'K1IV:', 'A1Vvar', 'M0/M1III:',
       'A8III/IV', 'G0.5', 'G5III:+...', 'F6V...', 'B3Vp', 'A6Iab',
       'K0IV-V', 'M7III', 'G8II-IIIvar', 'B9pe...', 'K8V:', 'G8III+...',
       'A9II', 'WN3+...', 'F5Iab', 'B7/B8V', 'A8m', 'M2/M3', 'B8Iab',
       'A9IV:', 'O9.5Ib', 'A3IV/V', 'sdG0', 'F3Vws', 'F5V+...', 'A8/A9IV',
       'B8IIIp (Si)', 'A3Vn', 'B9IV-V', 'K1II/III', 'A0p SiSr',
       'K3II-III', 'G8IIIp', 'K0/K1III+..', 'B7II', 'M2.5II', 'K2IV',
       'B8IIIn', 'A7II', 'B2Vpe', 'G8III-IV SB', 'F5Ia', 'Ap Si',
       'A8IV+...', 'R6', 'F7/F8IV/V', 'K0/1V (+K)', 'F7/F8IV', 'B6Iab',
       'B9Iab', 'sdF2:', 'G9Ib', 'B1.5Ia', 'B2Ib', 'sdB:', 'G8/K0IVp...',
       'G5 + G5', 'F8+...', 'B9/B9.5V', 'A2mA5-A7', 'Mc', 'Fwp', 'F3',
       'F2Vw', 'F9Ib', 'K5Ia0-a...', 'A2m', 'B1.5V', 'DAs', 'B9p...',
       'O8V', 'B0pe', 'K5/M0V', 'A5III/IV', 'G5/G6V:w', 'B0III', 'A1p Si',
       'K0III SB', 'M4III SB', 'K1IVCN...', 'B2pvar', 'A5V...', 'G2Ib',
       'G3/G5III', 'A0II', 'B2Vne', 'F7V+...', 'B1V:pe', 'K2:III:',
       'K2IV/V', 'A7Vn', 'G6:III:+...', 'Bnnpe', 'A1IV', 'G8/K0V:+...',
       'M2Iab', 'sdO:', 'F0p', 'A7/8V + G', 'M1V:', 'A4III/IV', 'M4Ve',
       'G5/G6IV', 'K1:III+...', 'F3:V+...', 'A1w', 'K0II/IIICN.', 'G6II',
       'K2/K3III/IV', 'F5V:', 'A5/A6V', 'F7/8V(p)', 'O9V', 'B1:V:pe',
       'G:', 'K1/K2IIICN.', 'M4Ib+...', 'A3/A4III', 'G5V...', 'G5Ia',
       'G8V:', 'G8/K0III+..', 'B9.5p (Si)', 'F0III/IV+..', 'G6:IIICNpva',
       'G3/G5III:', 'K:...', 'A5/A8m...', 'G2II', 'B0.5:pe', 'B1.5II',
       'B4IV', 'B9IV-Vn', 'M2Ia0-a...', 'A-F', 'A5IV-V', 'K1/K2II'],
      dtype=object)

In [12]:
# Look at SpType value counts for binning
star_raw_data["SpType"].value_counts()

K0             727
G5             623
G0             385
A0             382
F5             368
              ...
sdG8             1
B0Ib             1
K0II-IIIvar      1
F0Vw...          1
K1/K2II          1
Name: SpType, Length: 872, dtype: int64

# TO DO

SpType - Spectral type for Stellar classification.
(Roman Numerals >= III are giants. <III are dwarfs, No Roman Numerals means they are some special stars (sorry I made a mistake ;_;))
I, II, III are giants, IV, V , VI are dwarfs
VII are usually white dwarfs but they're so freakin hard to observe the numbers of them are few
No Roman Numerals means they are some special stars

## Create a new columns to translate Sptype as per the above to help to map the target class