In [1]:
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.manifold import TSNE
import numpy as np
import pandas as pd

In [3]:
stardf = pd.read_csv("clean_stars.csv")
stardf

      Vmag    Plx  e_Plx    B-V      SpType
0     9.10   3.54   1.39  0.482          F5
1     9.27  21.90   3.10  0.999         K3V
2     6.61   2.81   0.63 -0.019          B9
3     8.06   7.75   0.97  0.370         F0V
4     8.55   2.87   1.11  0.902       G8III
...    ...    ...    ...    ...         ...
9674  8.45  -0.93   1.13  1.404          K5
9675  7.84   4.26   1.00  1.140  K1IIICN...
9676  9.38   3.61   1.36  0.507          G0
9677  7.64   4.75   0.97  0.075          A2
9678  9.00  10.61   1.45  0.566         G1V

[9679 rows x 5 columns]

In [4]:
stardf=stardf[stardf.Plx !=0]
stardf

      Vmag    Plx  e_Plx    B-V      SpType
0     9.10   3.54   1.39  0.482          F5
1     9.27  21.90   3.10  0.999         K3V
2     6.61   2.81   0.63 -0.019          B9
3     8.06   7.75   0.97  0.370         F0V
4     8.55   2.87   1.11  0.902       G8III
...    ...    ...    ...    ...         ...
9674  8.45  -0.93   1.13  1.404          K5
9675  7.84   4.26   1.00  1.140  K1IIICN...
9676  9.38   3.61   1.36  0.507          G0
9677  7.64   4.75   0.97  0.075          A2
9678  9.00  10.61   1.45  0.566         G1V

[9677 rows x 5 columns]

In [6]:
stardf["SpType"].nunique()

871

In [7]:
stardf = stardf.reset_index(drop=True)

In [8]:
stardf

      Vmag    Plx  e_Plx    B-V      SpType
0     9.10   3.54   1.39  0.482          F5
1     9.27  21.90   3.10  0.999         K3V
2     6.61   2.81   0.63 -0.019          B9
3     8.06   7.75   0.97  0.370         F0V
4     8.55   2.87   1.11  0.902       G8III
...    ...    ...    ...    ...         ...
9672  8.45  -0.93   1.13  1.404          K5
9673  7.84   4.26   1.00  1.140  K1IIICN...
9674  9.38   3.61   1.36  0.507          G0
9675  7.64   4.75   0.97  0.075          A2
9676  9.00  10.61   1.45  0.566         G1V

[9677 rows x 5 columns]

In [9]:
stardf["Amag"] = stardf["Vmag"] + 5* (np.log10(abs(stardf["Plx"]))+1)

In [10]:
stardf

      Vmag    Plx  e_Plx    B-V      SpType       Amag
0     9.10   3.54   1.39  0.482          F5  16.845016
1     9.27  21.90   3.10  0.999         K3V  20.972221
2     6.61   2.81   0.63 -0.019          B9  13.853532
3     8.06   7.75   0.97  0.370         F0V  17.506509
4     8.55   2.87   1.11  0.902       G8III  15.839409
...    ...    ...    ...    ...         ...        ...
9672  8.45  -0.93   1.13  1.404          K5  13.292415
9673  7.84   4.26   1.00  1.140  K1IIICN...  15.987048
9674  9.38   3.61   1.36  0.507          G0  17.167536
9675  7.64   4.75   0.97  0.075          A2  16.023468
9676  9.00  10.61   1.45  0.566         G1V  19.128577

[9677 rows x 6 columns]

In [11]:
stardf.to_csv("final_stars.csv", index=False)