In [1]:
import numpy as np
import pandas as pd

In [2]:
stardf = pd.read_csv("Star99999_raw.csv")
stardf.head()

   Unnamed: 0   Vmag      Plx   e_Plx     B-V SpType
0           0   9.10     3.54    1.39   0.482     F5
1           1   9.27    21.90    3.10   0.999    K3V
2           2   6.61     2.81    0.63  -0.019     B9
3           3   8.06     7.75    0.97   0.370    F0V
4           4   8.55     2.87    1.11   0.902  G8III

In [3]:
stardf.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  99999 non-null  int64
 1   Vmag        99999 non-null  object
 2   Plx         99999 non-null  object
 3   e_Plx       99999 non-null  object
 4   B-V         99999 non-null  object
 5   SpType      97377 non-null  object
dtypes: int64(1), object(5)
memory usage: 4.6+ MB

In [4]:
stardf.describe ()

         Unnamed: 0
count  99999.000000
mean   49999.000000
std    28867.369122
min        0.000000
25%    24999.500000
50%    49999.000000
75%    74998.500000
max    99998.000000

In [5]:
stardf.nunique()

Unnamed: 0    99999
Vmag           1110
Plx            5331
e_Plx          1282
B-V            2392
SpType         3756
dtype: int64

In [6]:
stardf["Vmag"] = pd.to_numeric(stardf["Vmag"], downcast="float",errors='coerce')
stardf["Plx"] = pd.to_numeric(stardf["Plx"], downcast="float",errors='coerce')
stardf["e_Plx"] = pd.to_numeric(stardf["e_Plx"], downcast="float",errors='coerce')
stardf["B-V"] = pd.to_numeric(stardf["B-V"], downcast="float",errors='coerce')

In [7]:
stardf.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  99999 non-null  int64
 1   Vmag        99998 non-null  float32
 2   Plx         99768 non-null  float32
 3   e_Plx       99768 non-null  float32
 4   B-V         98871 non-null  float32
 5   SpType      97377 non-null  object
dtypes: float32(4), int64(1), object(1)
memory usage: 3.1+ MB

In [8]:
null_val=stardf.isnull ().sum ()
null_val

Unnamed: 0       0
Vmag             1
Plx            231
e_Plx          231
B-V           1128
SpType        2622
dtype: int64

In [9]:
totalcells= np.product(stardf.shape)
totalcells

599994

In [10]:
totalmissing= null_val.sum ()
totalmissing

4213

In [11]:
missing=(totalmissing/totalcells)*100
missing

0.7021736884035507

In [12]:
clean_stardf= stardf.dropna ()
clean_stardf

       Unnamed: 0  Vmag    Plx  e_Plx    B-V    SpType
0               0  9.10   3.54   1.39  0.482        F5
1               1  9.27  21.90   3.10  0.999       K3V
2               2  6.61   2.81   0.63 -0.019        B9
3               3  8.06   7.75   0.97  0.370       F0V
4               4  8.55   2.87   1.11  0.902     G8III
...           ...   ...    ...    ...    ...       ...
99993       99993  7.92   3.93   1.24  0.133     Am...
99994       99994  8.72   3.07   0.87  0.097        B3
99996       99996  8.08   1.07   0.68  1.094        G5
99997       99997  6.98   2.97   0.76 -0.143     B1.5V
99998       99998  8.51  -1.18   1.34  1.568  K5/M0III

[96742 rows x 6 columns]

In [13]:
dropped=stardf.shape[0]-clean_stardf.shape[0]
dropped

3257

In [14]:
totalpercentmissing= (dropped/100000)*100
totalpercentmissing

3.257

In [15]:
clean_stardf= clean_stardf. drop('Unnamed: 0', axis=1)
clean_stardf

       Vmag    Plx  e_Plx    B-V    SpType
0      9.10   3.54   1.39  0.482        F5
1      9.27  21.90   3.10  0.999       K3V
2      6.61   2.81   0.63 -0.019        B9
3      8.06   7.75   0.97  0.370       F0V
4      8.55   2.87   1.11  0.902     G8III
...     ...    ...    ...    ...       ...
99993  7.92   3.93   1.24  0.133     Am...
99994  8.72   3.07   0.87  0.097        B3
99996  8.08   1.07   0.68  1.094        G5
99997  6.98   2.97   0.76 -0.143     B1.5V
99998  8.51  -1.18   1.34  1.568  K5/M0III

[96742 rows x 5 columns]

In [16]:
clean_stardf=clean_stardf.reset_index(drop=True)

In [17]:
clean_stardf

       Vmag    Plx  e_Plx    B-V    SpType
0      9.10   3.54   1.39  0.482        F5
1      9.27  21.90   3.10  0.999       K3V
2      6.61   2.81   0.63 -0.019        B9
3      8.06   7.75   0.97  0.370       F0V
4      8.55   2.87   1.11  0.902     G8III
...     ...    ...    ...    ...       ...
96737  7.92   3.93   1.24  0.133     Am...
96738  8.72   3.07   0.87  0.097        B3
96739  8.08   1.07   0.68  1.094        G5
96740  6.98   2.97   0.76 -0.143     B1.5V
96741  8.51  -1.18   1.34  1.568  K5/M0III

[96742 rows x 5 columns]

In [18]:
clean_stardf.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96742 entries, 0 to 96741
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Vmag    96742 non-null  float32
 1   Plx     96742 non-null  float32
 2   e_Plx   96742 non-null  float32
 3   B-V     96742 non-null  float32
 4   SpType  96742 non-null  object
dtypes: float32(4), object(1)
memory usage: 2.2+ MB

In [19]:
clean_stardf.to_csv("big_clean_stars.csv", index=False)